<div class="container" dir={{ textDirection }}>
  <div class="side">
    <h1 id="title">
      {{ title }}
    </h1>
    <div class="footer">
      <img class="logo" src="{{ logoUrl }}">
      <h4 class="brand-name">
        {{ brandName }}
      </h4>
    </div>
  </div>
  <div class="main">
    <img
      class="main-image"
      src="{{ mainImageUrl }}"
    >
  </div>
</div>

<script src="textFit.js"></script>
<script>
  window.onload = function() {
    textFit(document.getElementById('title'), { maxFontSize: 500, multiLine: true });
  };
</script>
