<div class="container" dir={{ textDirection }}>
  <div class="overlay">
    <div class="title-container">
      <h1 id="title">
        {{ title }}
      </h1>  
    </div>
    <div class="footer">
      <img class="logo" src="{{ logoUrl }}">
    </div>
  </div>
  </div>
  <div class="main"></div>
</div>

<script src="textFit.js"></script>
<script>
  window.onload = function() {
    textFit(document.getElementById('title'), { maxFontSize: 500, multiLine: true });
  };
</script>
